body {
  background: linear-gradient(to bottom, #fff 0%, #f6f6f6 200px);
  display: flex;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
}

h1,
h2 {
  font-family: serif;
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid #aaa;
  overflow: hidden;
}

h1 {
  font-size: 28.8px;
}

a {
  color: #0645ad;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

input[type="search"] {
   -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
   -webkit-appearance: none;
}

.main-container {
  order: 1;
  width: 100%;
}

.main-sidebar {
  order: 0;
  width: 176px;
  flex: 0 0 auto;
}

.main-header {
  font-size: 12px;
  height: 80px;
  position: relative;
}

.main-header ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header li {
  list-style: none;
}

.main-header nav, .search {
  position: absolute;
}

.user-menu {
  right: 5px;
  top: 5px;
}
.user-menu a,
.user-menu span {
  display: block;
  padding: 5px;
}

.talk-menu {
  bottom: 0;
  left: 0;
}

.edit-menu {
  bottom: 0;
  right: 300px;
}

.tab ul {
  background: linear-gradient(to bottom, transparent 0%, #a7d7f9 100%);
  padding-left: 1px;
}
.tab a {
  background: linear-gradient(to bottom, #fff 0%, #e8f2f8 100%);
  bottom: -1px;
  display: block;
  margin-right: 1px;
  padding: 15px 5px 5px;
  position: relative;
}
.active-tab a {
  background: white;
  border-bottom: 1px solid #fff;
}

.search {
  bottom: 5px;
  right: 10px;
}
.search input[type=search] {
  background: url(https://en.wikipedia.org/static/1.27.0-wmf.6/skins/Vector/images/search-ltr.png?511c1) no-repeat calc(100% - 5px) 50%,
              linear-gradient(to bottom, #f6f6f6 0%, #fff 50%);
  border: 1px solid #ccc;
  font: 13px arial, sans-serif;
  height: 25px;
  padding: 1px 25px 1px 1px;
  width: 285px;
}
.search input[type=search]:focus {
  outline: 0;
}
.search input[type=submit] {
  background: transparent;
  border: 1px solid transparent;
  bottom: 0;
  cursor: pointer;
  height: 25px;
  padding: 1px;
  position: absolute;
  right: 0;
  width: 25px;
}
.search input[type=submit]:focus {
  outline: 0;
}

.main-content {
  background: #fff;
  border: 1px solid #a7d7f9;
  border-right: 0;
  padding: 16px;
}

.biography {
  width: 270px;
  background: #f9f9f9;
  float: right;
  border: 1px solid #aaa;
  margin: 6px 0 12px 12px;
  padding: 25px;
  box-sizing: border-box;
}

.main-footer {
  background: silver;``
  height: 150px;
}

.logo {
  display: block;
  width: 135px;
  height: 155px;
  background: url(../img/logo.png);
  margin: 6px auto 0;
  color: rgba(0, 0, 0, 0);
}
